/* ---Basic--- */
html {
  width: 100% vw;
  min-width: 320px;
  height: 100vh;
  background-color: #212528;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  color: #b8c2d0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  border: none;
}

/* ---Basic--- */
/* ---Nav Bar Start-- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 2rem 5rem;
  opacity: 1;
  height: 6rem;
  background-color: #212528;
}

.menu-item {
  padding: 1rem;
  font-size: 1rem;
}

.menu-item:hover {
  color: white;
}

.nav-btn {
  display: inline-block;
  text-align: center;
  width: 6.5rem;
  border-radius: 1rem;
  background: #212528;
  box-shadow: 23px 23px 45px #111315, -23px -23px 45px #31373b;
}

.nav-btn span {
  color: #fd4520;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-btn:hover,
.nav-btn:focus {
  transition: 0.4s;
  transform: translateY(-7px);
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fd4520;
}

@media screen and (max-width: 976px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6.5rem;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: #212528;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  a:hover,
  a:focus {
    color: #fd4520;
    transition: 0.5s;
    transform: translateY(-5px);
  }
  .nav-btn {
    align-self: center;
  }
  .menu-item {
    margin: 1rem 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
/* ---Nav Bar End-- */
/* ---Main Layout Start-- */
.container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 10rem minmax(100px, auto);
  padding: 0 8rem;
  gap: 3rem;
  grid-template-areas: ". . ." "section_1 section_1 section_1" "section_2 section_2 section_2" "section_2 section_2 section_2" "section_3 section_3 section_3" "section_3 section_3 section_3" "section_4 section_4 section_4" "section_4 section_4 section_4";
}

.home-page {
  grid-area: section_1;
}

.portfolio-page {
  grid-area: section_2;
}

.about-me-page {
  grid-area: section_3;
}

.contact-page {
  grid-area: section_4;
}

h2 {
  font-size: 60px;
  margin: 2rem;
}

/* ---Main Layout End-- */
/* ---Home Page Start-- */
.home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;
  gap: 1rem;
}

/* ---Home Page Left Start-- */
.home-text {
  width: 30rem;
  height: 30rem;
}
.home-text h1 {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
.home-text h1 span {
  color: #fd4520;
}
.home-text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.home-text .rotating-text {
  font-weight: 600;
  font-size: 4.3rem;
  display: flex;
  margin-left: 5rem;
  color: #fff;
  transform: translateX(-80px);
  position: relative;
}
.home-text .rotating-text .word {
  position: absolute;
  display: flex;
  left: 3rem;
  opacity: 0;
}
.home-text .rotating-text .word .letter {
  transform-origin: center center 25px;
  color: #fff;
}
.home-text .rotating-text .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.home-text .rotating-text .word .letter.in {
  transition: 0.38s ease;
}
.home-text .rotating-text .word .letter.behind {
  transform: rotateX(-90deg);
}

.rotating-text::after {
  content: "";
  width: 25rem;
  background-color: #fd4520;
  position: absolute;
  padding: 0.1rem;
  text-align: center;
  left: 2.5rem;
  top: 5.5rem;
}

.home-icons {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem 2rem 0;
}
.home-icons ul {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}
.home-icons .home-icons-links i,
.home-icons .home-icon-items img {
  width: 1.5rem;
  margin: 1rem;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background: #212528;
  box-shadow: 15px 15px 33px #171a1c, -15px -15px 33px #2b3034;
}

.home-icons-links li:hover,
.home-icons-links li:focus {
  transition: 0.4s;
  transform: translateY(-7px);
}

/* ---Home Page Left Start-- */
/* ---Home Page Right Start-- */
.home-img {
  border-radius: 1rem;
  box-shadow: 15px 15px 30px #111315, -15px -15px 30px #31373b;
}
.home-img img {
  width: 30rem;
}

/* ---Home Page Right End-- */
/* ---Home Page End-- */
/* ---Portfolio Page Start-- */
.portfolio-page ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  flex-grow: 1;
}
.portfolio-page .portfolio-card {
  width: 23rem;
  height: 25rem;
  padding: 1rem;
  border: 1px solid #212528;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 12px 12px 24px #1c1f22, -12px -12px 24px #262b2e;
}
.portfolio-page .portfolio-card img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  border-radius: 1rem;
}
.portfolio-page .portfolio-card:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-5px);
}
.portfolio-page .portfolio-card:hover p {
  color: #fd4520;
}
.portfolio-page .portfolio-card:hover img {
  transform: scale(1.1);
}
.portfolio-page .portfolio-card-text {
  margin-top: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
}
.portfolio-page .portfolio-card-text h3 {
  color: #fd4520;
  font-weight: 400;
  font-size: medium;
  text-transform: uppercase;
}

/* ---Portfolio Page End-- */
/* ---AboutMe Page Start-- */
.about-me-page .about-me-text {
  text-align: center;
  margin: 2rem;
}
.about-me-page .about-me-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 1px solid #212528;
  border-radius: 1rem;
  box-shadow: 17px 17px 30px #1a1d1f, -17px -17px 30px #282d31;
}
.about-me-page img {
  width: 30rem;
}

/* ---AboutMe Page End-- */
/* ---Contact Page Start-- */
.contact-page h2 {
  text-align: center;
}
.contact-page .contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.contact-page .contact-page-img {
  width: 25rem;
  height: 40rem;
  border: 1px solid white;
}
.contact-page .contact-page-form {
  width: 25rem;
  height: 40rem;
  border: 1px solid white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 5rem;
}

/*responsive setting*/
@media only screen and (min-width: 1500px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .home-page .home-text {
    width: 40rem;
  }
  .home-icons {
    margin-right: 6rem;
  }
  .home-img {
    transition: 0.5s ease;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0 8rem;
  }
  .home-page {
    height: 25rem;
    transform: scale(1);
    transform-origin: left;
    transition: 0.5s ease;
  }
  .home-page .home-text {
    width: 30rem;
  }
  .home-page .home-text h1 {
    font-size: 2.5rem;
  }
  .home-page .home-text .rotating-text {
    font-size: 3.5rem;
  }
  .home-page .home-text .rotating-text::after {
    width: 22rem;
    left: 2.3rem;
    top: 5rem;
  }
  .home-page .home-text .home-icons {
    margin: 2rem 0;
    transform: scale(0.8);
    transform-origin: left;
  }
  .home-page .home-img {
    width: 20rem;
  }
  .home-page .home-img img {
    width: 100%;
  }
  .portfolio-page .portfolio-card {
    width: 20rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem minmax(1000px, auto);
    padding: 0 8rem;
    grid-template-areas: "..." "section_1 section_1 section_1" "section_1 section_1 section_1" "..." "section_2 section_2 section_2" "section_2 section_2 section_2" "section_3 section_3 section_3" "section_3 section_3 section_3" "section_4 section_4 section_4" "section_4 section_4 section_4";
  }
  .home-page {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .home-page .home-text {
    width: 30rem;
    height: 30rem;
  }
  .home-page .home-text h1 {
    font-size: 3rem;
  }
  .home-page .home-text p {
    font-size: 1.2rem;
  }
  .home-page .home-text .rotating-text {
    font-size: 4.5rem;
  }
  .home-page .home-text .rotating-text::after {
    width: 25rem;
    left: 3rem;
    top: 5rem;
  }
  .home-page .home-img {
    width: 30rem;
    margin-top: 5rem;
  }
  .home-page .home-img img {
    width: 100%;
  }
  .portfolio-page h2 {
    text-align: center;
  }
  .portfolio-page .portfolio-card {
    width: 30rem;
    height: 30rem;
  }
  .portfolio-page .portfolio-card:last-child {
    height: 35rem;
  }
  .about-me-page ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .about-me-page .about-me-card {
    width: 21rem;
  }
  .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
  }
  .contact-box .contact-page-img {
    width: 30rem;
    height: 35rem;
  }
  .contact-box .contact-page-form {
    width: 30rem;
    height: 35rem;
  }
}

/*# sourceMappingURL=style.css.map */
