// icon-box-shadow, card-box-shadow
.card-box-shadow {
  border-radius: 1rem;
  box-shadow: 17px 17px 30px #1a1d1f, -17px -17px 30px #282d31;
}

.icon-box-shadow{
  border-radius: 1rem;
  box-shadow: 12px 12px 24px #1a1d1f, -12px -12px 24px #282d31;
}
// flex-space-between
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
